<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div th:replace="nav/topbar"></div>
<div id="container">
    <table id="tcourse" class="row-border compact" data-toggle="table">
        <thead>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Credits</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Department</th>
            <th>Fee</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}"> <!-- courses is the model attribute name -->
            <td th:text="${course.courseCode}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.courseCredits}"></td>
            <td th:text="${#dates.format(course.startDate, 'MM/dd/yyyy')}"></td>
            <td th:text="${#dates.format(course.endDate, 'MM/dd/yyyy')}"></td>
            <td th:text="${course.department}"></td>
            <td th:text="${#numbers.formatCurrency(course.fee)}"></td>
            <td><a th:href="@{/courses/{id}(id=${course.courseId})}">
                <button type="button" class="btn btn-primary">
                    <i class="far fa-eye"></i>
                </button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    $(document).ready( function () {
        $('#tcourse').DataTable();
    } );
</script>