<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduation</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div th:replace="nav/topbar"></div>
<div id="container" class="container">
    <p>Settlement of all pending course and library charges is required prior to your graduation eligibility.</p>
    <p>Your present status is: <label><strong>[[${message}]]</strong></label>.</p>
    <p th:if="${balanceOutstanding}">Kindly access the Payment Portal to clear your outstanding dues.</p>
</div>
</body>
</html>